
html {
    height: 100%;
}

body {
    min-width: 400px;
    min-height: 80%;
    background: url("http://res.cloudinary.com/detqxj5bf/image/upload/v1504007697/WWWeather/default.jpg") no-repeat center center fixed;
    background-size: cover;
    position: relative; /* this plus absolute footer makes footer stick to the bottom */
}

h4 {
    font-size: 1.2rem;
}

.main-container {
    max-width: 100%;
    max-height: 100%;
}

.permission {
    background-color: rgba(6, 229, 192, 0.6);
    min-height: 4rem;
}

.permission h4 {
    position: relative;
    top: 1.25rem;
}

.permission a:hover {
    text-decoration: none;
}

.page-title h1 {
    font-size: 3rem;
}

.weather-image {
    margin-top: 2rem;
}

.weather-icon {
    width: 12rem;
    fill: #FFF;
}

.weather-description {
    position: relative;
    bottom: 3rem;
}

.weather-description h3 {
    margin-top: 1.5rem;
}

.temperature {
    margin-top: 3rem;
}

.temperature h4, .temperature a {
    display: inline-block;
}

.temperature a h4 {
    color: orange !important;
}

footer {
    min-width: 99.5%;
    max-width: 99.5%;
    position: absolute;
    bottom: 0;
}

/* white colors matter */
.permission h4,
.page-title h1,
.weather-description h3,
.temperature h4,
.page-footer p,
.page-footer p:hover,
.page-footer a {
    color: #FFF;
}

h1, h3, h4, p {
    text-shadow: 0.5rem 0.5rem 0.75rem #000;
}

